/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong {
  font-weight: bold; }

.container:after, .clearfix:after, .row:after, ul:after {
  content: '';
  display: table;
  clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: top;
  max-width: 100%; }

a {
  color: #333;
  text-decoration: none; }
  a:focus, a:hover, a:active {
    text-decoration: none;
    outline: 0; }

div {
  box-sizing: border-box; }

::-webkit-input-placeholder {
  color: #bbb; }

:-moz-placeholder {
  color: #bbb; }

::-moz-placeholder {
  color: #bbb; }

:-ms-input-placeholder {
  color: #bbb; }

*::selection {
  background: #16b9ff;
  color: #fff; }

*::-moz-selection {
  background: #16b9ff;
  color: #fff; }

[type="text"], [type="num"], [type="tel"], [type="file"], [type="password"], [type="email"], [type="search"], [type="url"], textarea {
  border: 1px solid #eee;
  padding: 0 5px; }

[type="text"]:focus, [type="num"]:focus, [type="tel"]:focus, [type="file"]:focus, [type="password"]:focus, [type="email"]:focus, [type="search"]:focus, [type="url"]:focus, textarea:focus {
  border-color: #ff6678;
  outline: 0; }

/* main font */
body {
  font-family: 'Roboto' ,'Malgun Gothic','Noto Sans KR', 'dotum', 'gulim' , 'sans-serif';
  word-break: break-all;
  font-weight: 300;
  line-height: 1; }

/* layout */
body, html {
  height: 100%; }

#wrap {
  width: 100%;
  height: 640px;
  overflow: auto;
  margin: 0 auto; }

.container_box {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px; }

/* typography */
h1, h2 {
  line-height: 1.2; }

h3, h4, h5, h6 {
  line-height: 1.4; }

p {
  color: #757575;
  font-size: 15px;
  line-height: 1.8; }

/* short cut*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.por {
  position: relative; }

.poa {
  position: absolute; }

.pof {
  position: fixed; }

.dtb {
  display: table; }

.dtbc {
  display: table-cell; }

.vat {
  vertical-align: top; }

.vam {
  vertical-align: middle; }

.vab {
  vertical-align: bottom; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px; }

/* interval */
.pt0 {
  padding-top: 0 !important; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.pr0 {
  padding-right: 0 !important; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr20 {
  padding-right: 20px; }

.pr30 {
  padding-right: 30px; }

.pl0 {
  padding-left: 0 !important; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl20 {
  padding-left: 20px; }

.pl30 {
  padding-left: 30px; }

.pb0 {
  padding-bottom: 0 !important; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb20 {
  padding-bottom: 20px; }

.pb30 {
  padding-bottom: 30px; }

.mt0 {
  margin-top: 0 !important; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mr0 {
  margin-right: 0 !important; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr20 {
  margin-right: 20px; }

.mr30 {
  margin-right: 30px; }

.ml0 {
  margin-left: 0 !important; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.ml30 {
  margin-left: 30px; }

.mb0 {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

/* form */
.form-ctrl {
  color: #000;
  border: 1px solid #e1e1e1;
  padding: 8px 8px 8px 10px;
  font-size: 13px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .form-ctrl:focus {
    outline: 0;
    border-color: #666; }
  .form-ctrl:hover {
    background: #fafafa; }

.input-group {
  font-size: 0; }
  .input-group .tit {
    min-width: 130px;
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    vertical-align: top; }
  .input-group .form-ctrl {
    height: 40px;
    display: inline-block; }
  .input-group.input-sm input {
    width: 10%;
    min-width: 100px; }
  .input-group.input-md input {
    width: 50%;
    min-width: 200px; }
  .input-group.input-lg input {
    width: 90%; }
  .input-group textarea.form-ctrl {
    height: unset;
    resize: none;
    width: calc(100% - 135px); }

.input-checkbox input {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0; }
.input-checkbox label i {
  display: block;
  float: left;
  font-size: 22px;
  color: #999; }
.input-checkbox label span {
  display: block;
  margin-left: 28px;
  line-height: 24px;
  font-size: 13px; }
.input-checkbox input + label i.icon-checked {
  display: none; }
.input-checkbox input:checked + label i.icon-line {
  display: none; }
.input-checkbox input:checked + label i.icon-checked {
  display: block;
  color: #333; }

.terms-group {
  margin-top: 50px; }
  .terms-group .tit {
    font-size: 15px;
    color: #333;
    margin-bottom: 7px; }
  .terms-group .terms {
    border: 1px solid #e1e1e1;
    padding: 15px;
    font-size: 12px;
    line-height: 1.8;
    height: 120px;
    overflow-y: scroll;
    margin-bottom: 10px; }

header {
  position: relative;
  width: 100%;
  padding: 20px;
  background: #70bf73 url(../img/header_back.jpg) no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%; }
  header .title {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 12px;
    color: #fff;
    letter-spacing: -3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  header .title_error {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -3px; }
  header .script_title {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -1px;
    margin-top: 12px; }
  header .script_text {
    font-size: 14px;
    color: #fff;
    padding-top: 5px;
    letter-spacing: -1px;
    line-height: 18px; }
  header .total {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    overflow: hidden; }
    header .total ul li.total_row {
      float: left;
      width: 160px; }
      header .total ul li.total_row .price {
        margin: 0 auto;
        background: #fff;
        width: 100%;
        height: 100px;
        overflow: hidden; }
        header .total ul li.total_row .price .price_total {
          width: 80%;
          margin: 0 auto; }
          header .total ul li.total_row .price .price_total ul li.price_row {
            text-align: center; }
          header .total ul li.total_row .price .price_total ul li.price_row:first-child {
            margin-top: 10px;
            font-size: 16px;
            color: #2b642e;
            font-weight: bold;
            border-bottom: 2px solid #2b642e;
            padding: 10px 0; }
          header .total ul li.total_row .price .price_total ul li.price_row:last-child {
            font-size: 18px;
            color: #000;
            line-height: 22px;
            font-weight: bold;
            padding: 10px 0;
            letter-spacing: -1px; }
      header .total ul li.total_row .point {
        margin: 0 auto;
        background: #fff;
        width: 100%;
        height: 100px;
        overflow: hidden; }
        header .total ul li.total_row .point .point_total {
          width: 80%;
          margin: 0 auto; }
          header .total ul li.total_row .point .point_total ul li.point_row {
            text-align: center; }
          header .total ul li.total_row .point .point_total ul li.point_row:first-child {
            margin-top: 10px;
            font-size: 16px;
            color: #2b642e;
            font-weight: bold;
            border-bottom: 2px solid #2b642e;
            padding: 10px 0; }
          header .total ul li.total_row .point .point_total ul li.point_row:last-child {
            font-size: 18px;
            color: #000;
            line-height: 22px;
            font-weight: bold;
            padding: 10px 0;
            letter-spacing: -1px; }
    header .total ul li:first-child {
      margin-right: 5px; }

section.contents {
  width: 100%;
  background: #fff; }
  section.contents .container {
    max-width: 100%;
    margin: 0 auto;
    background: #fff; }
    section.contents .container .have_point {
      width: 100%;
      background: #f2f2f2;
      padding: 10px 12px; }
      section.contents .container .have_point ul li {
        float: left;
        padding: 5px 5px 3px 5px; }
      section.contents .container .have_point ul li:first-child {
        width: 65%;
        font-size: 15px;
        line-height: 20px;
        font-weight: bold;
        color: #000;
        text-align: left;
        letter-spacing: -1px; }
      section.contents .container .have_point ul li:last-child {
        width: 35%;
        font-size: 15px;
        line-height: 17px;
        color: #d9313b;
        font-weight: bold;
        text-align: right;
        letter-spacing: -1px; }
    section.contents .container .item_area {
      height: 360px;
      overflow-y: scroll; }
      section.contents .container .item_area .item {
        width: 100%;
        padding: 16px 20px; }
        section.contents .container .item_area .item .tab {
          width: 100%; }
          section.contents .container .item_area .item .tab ul li.tb_top {
            float: left;
            text-align: center;
            width: 33.3%;
            padding: 7px 10px;
            font-size: 14px;
            font-weight: 400;
            color: #474747;
            letter-spacing: -1px;
            border-bottom: 1px solid #000; }
          section.contents .container .item_area .item .tab ul li.tb_top:first-child {
            height: 29px; }
          section.contents .container .item_area .item .tab ul li.tb_middle {
            float: left;
            text-align: center;
            width: 33.3%;
            padding: 10px 5px 5px 5px;
            font-size: 18px;
            font-weight: bold;
            color: #d71826;
            line-height: 21px;
            letter-spacing: -1px; }
            section.contents .container .item_area .item .tab ul li.tb_middle img {
              width: 100px; }
            section.contents .container .item_area .item .tab ul li.tb_middle input {
              border: none;
              border-radius: 0px;
              border-bottom: 1px solid #d71826;
              width: 85%;
              display: inline-block;
              letter-spacing: -1px;
              padding: 0;
              text-align: center; }
          section.contents .container .item_area .item .tab ul li.tb_middle:first-child {
            text-align: left; }
          section.contents .container .item_area .item .tab ul li.tb_bottom {
            float: left;
            width: 33.3%;
            padding: 5px 5px; }
            section.contents .container .item_area .item .tab ul li.tb_bottom .btn {
              width: 100%;
              border: 1px solid #000;
              font-size: 13px;
              padding: 10px 5px;
              color: #474747;
              -webkit-transition: all 0.2s;
              -moz-transition: all 0.2s;
              -ms-transition: all 0.2s;
              -o-transition: all 0.2s;
              transition: all 0.2s; }
              section.contents .container .item_area .item .tab ul li.tb_bottom .btn:hover {
                background: #474747;
                color: #fff; }
      section.contents .container .item_area .item_script {
        width: 100%;
        font-size: 12px;
        line-height: 18px;
        padding: 0 20px; }
        section.contents .container .item_area .item_script .bullet {
          position: relative;
          left: 0;
          top: 0; }
        section.contents .container .item_area .item_script .script {
          position: relative;
          right: 0;
          top: -17px;
          padding-left: 15px;
          margin-bottom: -17px;
          word-break: break-all; }
      section.contents .container .item_area .dot {
        width: 100%;
        padding: 5px 20px; }
        section.contents .container .item_area .dot .dot_line {
          border-bottom: 1px dotted #474747; }

section.footer {
  background: #fff; }
  section.footer .submet_btn {
    width: 100%;
    margin-top: 10px; }
    section.footer .submet_btn ul li {
      float: left;
      width: 50%; }
      section.footer .submet_btn ul li a {
        color: #fff; }
    section.footer .submet_btn ul li:first-child a {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      line-height: 24px;
      padding: 12px 10px;
      color: #fff;
      display: block;
      background: #606060; }
    section.footer .submet_btn ul li:last-child a .btn_ok_on {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      line-height: 24px;
      padding: 12px 10px;
      color: #fff;
      display: block;
      background: #4caf50; }
    section.footer .submet_btn ul li:last-child a .btn_ok {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      line-height: 24px;
      padding: 12px 10px;
      color: #fff;
      display: block;
      background: #333; }

#loaderMsg {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10; }
  #loaderMsg .loader_box {
    position: absolute;
    background: #fff;
    width: 400px;
    height: 150px;
    left: 50%;
    top: 230px;
    margin-left: -200px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1); }
    #loaderMsg .loader_box .loader {
      height: 10px;
      width: 80%;
      margin: 0 auto;
      margin-top: 45px;
      position: relative;
      overflow: hidden;
      background-color: #ddd; }
    #loaderMsg .loader_box .loader:before {
      display: block;
      position: absolute;
      content: "";
      left: -200px;
      width: 200px;
      height: 10px;
      background-color: #2b6630;
      animation: loading 2s linear infinite; }
@keyframes loading {
  from {
    left: -200px;
    width: 30%; }
  50% {
    width: 30%; }
  70% {
    width: 70%; }
  80% {
    left: 50%; }
  95% {
    left: 120%; }
  to {
    left: 100%; } }
    #loaderMsg .loader_box .loader_script {
      padding: 40px 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      letter-spacing: -1px; }

#errorMsg {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10; }
  #errorMsg .error_box {
    position: absolute;
    background: #fff;
    width: 400px;
    height: 150px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -75px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1); }
    #errorMsg .error_box .error_script {
      padding: 30px 20px 20px 20px;
      margin-top: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      letter-spacing: -1px; }
    #errorMsg .error_box .cancel_btn {
      width: 150px;
      margin: 0 auto;
      padding: 10px;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      background: #4caf50; }

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.popup_content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px 10px;
  border: 1px solid #888;
  width: 90%;
  height: 545px;
  position: relative; }
  .popup_content .close {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%; }
  .popup_content .popup_title {
    font-size: 20px;
    padding: 10px 0px 15px 0px;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #2b6630; }
    .popup_content .popup_title .ls {
      letter-spacing: -2px; }
  .popup_content .clause_text {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 400px;
    width: 100%; }
    .popup_content .clause_text .tb {
      font-weight: bold; }
  .popup_content .close_btn {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background: #4caf50; }

section.clause .container .clause_title {
  font-size: 18px;
  font-weight: bold;
  color: #2b6630;
  padding: 14px 20px;
  letter-spacing: -1px;
  border-bottom: 2px solid #2b6630; }
section.clause .container .check_row ul li .all_check {
  padding: 14px 20px;
  font-size: 12px;
  background: #eaeaea; }
  section.clause .container .check_row ul li .all_check a {
    display: inline-block;
    width: 100%;
    height: 20px; }
    section.clause .container .check_row ul li .all_check a .check_toggle {
      float: left;
      width: 20px;
      height: 20px;
      color: #e4e4e4;
      margin-right: 5px;
      background: url(../img/check-circle-regular.png) no-repeat;
      background-size: 100%; }
    section.clause .container .check_row ul li .all_check a .check_toggle_on {
      float: left;
      width: 20px;
      height: 20px;
      color: #e4e4e4;
      margin-right: 5px;
      background: url(../img/check-circle-regular-red.png) no-repeat;
      background-size: 100%; }
    section.clause .container .check_row ul li .all_check a .check_name {
      font-size: 14px;
      line-height: 19px;
      letter-spacing: -1px; }
section.clause .container .check_row ul li .check_type {
  position: relative;
  padding: 10px 20px;
  font-size: 14px;
  border-bottom: 1px solid #f2f2f2; }
  section.clause .container .check_row ul li .check_type a.wlink {
    width: 100%; display: inline-block;}
    section.clause .container .check_row ul li .check_type a .check_toggle {
      float: left;
      width: 20px;
      height: 20px;
      color: #e4e4e4;
      margin-right: 5px;
      background: url(../img/check-circle-regular.png) no-repeat;
      background-size: 100%; }
    section.clause .container .check_row ul li .check_type a .check_toggle_on {
      float: left;
      width: 20px;
      height: 20px;
      color: #e4e4e4;
      margin-right: 5px;
      background: url(../img/check-circle-regular-red.png) no-repeat;
      background-size: 100%; }
    section.clause .container .check_row ul li .check_type a .check_name {
      padding-left: 24px;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: -1px; }
      section.clause .container .check_row ul li .check_type a .check_name .red {
        color: red; }
  section.clause .container .check_row ul li .check_type a.nlink {
    float: left;
    display: inline-block;
    width: 95%; }
    section.clause .container .check_row ul li .check_type a.nlink .check_toggle {
      float: left;
      width: 20px;
      height: 20px;
      color: #e4e4e4;
      margin-right: 5px;
      background: url(../img/check-circle-regular.png) no-repeat;
      background-size: 100%; }
    section.clause .container .check_row ul li .check_type a.nlink .check_toggle_on {
      float: left;
      width: 20px;
      height: 20px;
      color: #e4e4e4;
      margin-right: 5px;
      background: url(../img/check-circle-regular-red.png) no-repeat;
      background-size: 100%; }
    section.clause .container .check_row ul li .check_type a.nlink .check_name {
      padding-left: 24px;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: -1px; }
      section.clause .container .check_row ul li .check_type a.nlink .check_name .red {
        color: red; }
  section.clause .container .check_row ul li .check_type a.alink {
    width: 5%;
    display: inline-block;
    height: 20px; }
    section.clause .container .check_row ul li .check_type a.alink .arrow_right {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 20px;
      height: 20px;
      cursor: hand;
      background: url(../img/arrow_right.png) no-repeat;
      background-size: 100%; }
section.clause .container .clauseCard_table {
  padding: 20px 20px; }
  section.clause .container .clauseCard_table table {
    border-left: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4; }
    section.clause .container .clauseCard_table table th {
      padding: 10px 5px;
      color: #3c3c3c;
      font-weight: 600;
      background: #f2f2f2;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
    section.clause .container .clauseCard_table table td {
      padding: 5px;
      color: #000;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      section.clause .container .clauseCard_table table td .check_toggle {
        width: 20px;
        height: 20px;
        margin: 0 auto;
        color: #e4e4e4;
        background: url(../img/check-circle-regular.png) no-repeat;
        background-size: 100%; }
      section.clause .container .clauseCard_table table td .check_toggle_on {
        width: 20px;
        height: 20px;
        margin: 0 auto;
        color: #e4e4e4;
        background: url(../img/check-circle-regular-red.png) no-repeat;
        background-size: 100%; }

section.certi .container .certi_title {
  font-size: 18px;
  font-weight: bold;
  color: #2b6630;
  padding: 14px 20px;
  letter-spacing: -1px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 2px solid #2b6630;
  margin-bottom: 20px; }
section.certi .container a {
  display: inline-block;
  padding: 20px 0px;
  width: 100%; }
section.certi .container .certi_btn {
  width: 50%;
  margin: 0 auto;
  background: #393939;
  border-radius: 130px;
  text-align: center;
  cursor: hand; }
  section.certi .container .certi_btn ul {
    display: inline-block; }
    section.certi .container .certi_btn ul li {
      float: left;
      font-size: 25px;
      font-weight: bold;
      color: #fff;
      line-height: 40px;
      letter-spacing: -2px; }
      section.certi .container .certi_btn ul li .certi_user {
        width: 50px;
        height: 40px;
        background: url(../img/certi.png) no-repeat;
        background-size: 100%;
        margin-right: 10px; }
section.certi .container .certi_btn_on {
  width: 50%;
  margin: 0 auto;
  background: #4caf50;
  border-radius: 130px;
  text-align: center; }
  section.certi .container .certi_btn_on ul {
    display: inline-block; }
    section.certi .container .certi_btn_on ul li {
      float: left;
      font-size: 25px;
      font-weight: bold;
      color: #fff;
      line-height: 40px;
      letter-spacing: -2px; }
      section.certi .container .certi_btn_on ul li .certi_user {
        width: 50px;
        height: 40px;
        background: url(../img/certi.png) no-repeat;
        background-size: 100%;
        margin-right: 10px; }

section.footer {
  background: #fff; }
  section.footer .submet_btn {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 15px; }

section.point_null .point_null_script {
  padding: 50px 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: -1px; }
section.point_null .close_btn {
  width: 150px;
  margin: 0 auto;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  background: #4caf50;
  margin-bottom: 30px; }

.submet_btn_bottom {
  width: 100%;
  position: absolute;
  bottom: 15px; }
  .submet_btn_bottom ul li {
    float: left;
    width: 50%; }
    .submet_btn_bottom ul li a {
      color: #fff; }
  .submet_btn_bottom ul li:first-child a {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    padding: 12px 10px;
    color: #fff;
    display: block;
    background: #606060; }
  .submet_btn_bottom ul li:last-child a .btn_ok_on {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    padding: 12px 10px;
    color: #fff;
    display: block;
    background: #4caf50; }
  .submet_btn_bottom ul li:last-child a .btn_ok {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    padding: 12px 10px;
    color: #fff;
    display: block;
    background: #333; }

section.error .error_script {
  padding: 50px 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: -1px; }
section.error .close_btn {
  width: 150px;
  margin: 0 auto;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  background: #4caf50;
  margin-bottom: 30px; }

.submet_btn_bottom {
  width: 100%;
  position: absolute;
  bottom: 15px; }
  .submet_btn_bottom ul li {
    float: left;
    width: 50%; }
    .submet_btn_bottom ul li a {
      color: #fff; }
  .submet_btn_bottom ul li:first-child a {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    padding: 12px 10px;
    color: #fff;
    display: block;
    background: #606060; }
  .submet_btn_bottom ul li:last-child a .btn_ok_on {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    padding: 12px 10px;
    color: #fff;
    display: block;
    background: #4caf50; }
  .submet_btn_bottom ul li:last-child a .btn_ok {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    padding: 12px 10px;
    color: #fff;
    display: block;
    background: #333; }

.btn {
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.btn:hover {
  text-decoration: none; }

/* button type */
.btn-primary {
  background: #E8485A;
  border-color: #E8485A;
  color: #fff; }

.btn-primary-ol {
  background: #fff;
  border-color: #fff;
  color: #E8485A; }

.btn-tool {
  background: #a7a7a7;
  border-color: #a7a7a7;
  color: #fff; }

/* button size */
.btn-full {
  width: 100%;
  padding: 12px 15px; }

.btn-big {
  font-size: 14px;
  width: 100%;
  padding: 16px 15px;
  font-weight: bold; }
  .btn-big i {
    font-size: 22px;
    margin-right: 4px;
    vertical-align: middle; }

.btn-md {
  padding: 10px 14px;
  font-size: 13px; }
  .btn-md i {
    font-size: 20px; }

.btn-sm {
  font-size: 12px;
  padding: 4px 6px; }
  .btn-sm i {
    font-size: 16px; }

/* button option amount */
.btn .amount {
  display: inline-block;
  width: 13px;
  height: 13px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  background: #E8485A;
  text-align: center;
  line-height: 12px;
  font-size: 10px; }

.btn-material {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.submit_btn_bottom_one .btn_ok {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  padding: 12px 10px;
  color: #fff;
  display: block;
  background: #4caf50; }

.item_2th {
  width: 100%;
  padding: 16px 20px; }
  .item_2th .tab {
    width: 100%; }
    .item_2th .tab ul li.tb_top {
      float: left;
      text-align: center;
      width: 25%;
      padding: 7px 10px;
      font-size: 14px;
      font-weight: 400;
      color: #474747;
      letter-spacing: -1px;
      border-bottom: 1px solid #000; }
    .item_2th .tab ul li.tb_top:first-child {
      height: 43px; }
    .item_2th .tab ul li.tb_middle {
      float: left;
      text-align: center;
      width: 25%;
      padding: 10px 5px 5px 5px;
      font-size: 18px;
      font-weight: bold;
      color: #d71826;
      line-height: 21px;
      letter-spacing: -1px; }
      .item_2th .tab ul li.tb_middle img {
        width: 100px; }
      .item_2th .tab ul li.tb_middle input {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #d71826;
        width: 85%;
        display: inline-block;
        letter-spacing: -1px;
        padding: 0;
        text-align: center; }
    .item_2th .tab ul li.tb_middle:first-child {
      text-align: left; }
    .item_2th .tab ul li.tb_bottom {
      float: left;
      width: 25%;
      padding: 5px 5px; }
      .item_2th .tab ul li.tb_bottom .btn {
        width: 100%;
        border: 1px solid #000;
        font-size: 13px;
        padding: 10px 5px;
        color: #474747;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .item_2th .tab ul li.tb_bottom .btn:hover {
          background: #474747;
          color: #fff; }
/*# sourceMappingURL=style.css.map */

/* 20181029 복합결제UI 수정 */
header .total.multi > ul {
    padding:0 5px;
    background: #fff; }
header .total.multi ul li.total_row {
    width: 140px;
    margin:0; }     
header .total.multi ul li.total_row .price .price_total {
    width: 90%; }
header .total.multi ul li.total_row .point .point_total {
    width: 90% }
header .total.multi ul li.total_row .point .point_total ul li.point_row:last-child {
    color: #d71826; }
    
/* 20181128 복합결제UI - 합계 영역 추가 */
section.contents .container .total_point {
    width: 100%;
    background: #f2f2f2;
    padding: 5px 20px; }
section.contents .container .total_point ul li {
    float: left;
    padding: 5px 5px 3px 5px; }
section.contents .container .total_point ul li.tb_middle {
    float: left;
    text-align: center;
    width: 25%;
    padding: 10px 5px 5px 5px;
    font-size: 18px;
    font-weight: bold;
    color: #d71826;
    line-height: 21px;
    letter-spacing: -1px; }
section.contents .container .total_point ul li:first-child {
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: #000;
    text-align: left;
letter-spacing: -1px; }
section.contents .container .total_point .dot {
    width: 100%;
    padding: 5px 0; }
section.contents .container .total_point .dot .dot_line {
    border-bottom: 1px dotted #474747; }
section.contents .container .total_point .item_script {
    font-size: 12px;
    line-height: 18px;
    padding: 0 5px;
    height: 26px; }
section.contents .container .total_point .item_script .bullet {
    position: relative;
    left: 0;
    top: 0; }
section.contents .container .total_point .item_script .script {
    position: relative;
    right: 0;
    top: -17px;
    padding-left: 15px;
    margin-bottom: -17px;
    word-break: break-all; }
    
/* 20190411 패밀리 포인트 추가  */
.family_p header {
    background-image: url(../img/header_back_fp.jpg);
    background-color: #59a4e5;
}
.family_p section.clause .container .clause_title {
    color: #215391;
    border-bottom: 2px solid #215391; 
}
.family_p section.certi .container .certi_title {
    color: #215391;
    border-bottom: 2px solid #215391; 
}
.family_p section.certi .container .certi_btn {
    background:#393939; 
}
.family_p section.certi .container .certi_btn_on {
    background:#5dbcfe; 
}
.family_p header .total ul li.total_row .point .point_total ul li.point_row:first-child {
    border-bottom: 2px solid #215391;
    color: #215391; 
    margin-right:0;
}
.popup_content2 {
    position: absolute;
    z-index: 2;
    width:360px;
    top: 20%;
    left: 20px;
    right: 20px;
    background-color: #fefefe;
    margin: 0 auto; 
}
.popup_content2 .close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 25px;
    height: 25px;
    background: url(../img/close2.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%; 
    cursor: pointer;
}
.popup_content2 .popup_title {
    font-size: 14px;
    padding: 10px 10px;
    text-align: left;
    color:#fff;
    background:#3b94df; 
}
.popup_content2 .popup_title .ls {
    letter-spacing: -1px; 
}
.popup_content2 .text {
    padding:40px 10px 20px;
    text-align:center; 
}
.popup_content2 .text .script1 {
    color:#000;
    font-size:16px;
}
.popup_content2 .text .script1 span { 
    color:#3b94df;
    font-weight:bold;
}
.popup_content2 .text .script2 {
    color:#d71826;
    font-size:12px;
    margin-top:20px;
}
.popup_content2 .btn_area {
    margin:20px auto;
    text-align:center;
}
.popup_content2 .btn_cancel, 
.popup_content2 .btn_ok {
    display: inline-block;
    width: 43%;
    margin:0 2px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    height: 42px;    
    line-height: 42px;    
    border-radius: 3px;
    box-shadow: 0 3px #dde0e3; 
}
.popup_content2 .btn_cancel {
    background: #606060; 
}
.popup_content2 .btn_ok {
    background: #333333; 
}
.family_p section.contents.voucher { 
    padding:0;
}
.family_p section.voucher .voucher_title { 
    font-size: 18px;
    font-weight: bold;
    color: #215391;
    padding: 14px 20px;
    letter-spacing: -1px;
    border-bottom: 2px solid #215391;
    margin-bottom:5px;
    position:relative;
}
.family_p section.voucher .voucher_title .btn_refresh { 
    border: 1px solid #000;
    font-size: 13px;
    padding: 7px;
    color: #474747;
    padding-left: 27px;
    padding-right: 10px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.family_p section.voucher .voucher_title .btn_refresh span { 
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 6px;
    left: 9px;
    background: url(../img/refresh.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
/* .family_p section.voucher .details {  */
    /* padding:3px 10px; */
/* } */
.family_p section.contents.voucher .container .item_area .item {
    padding: 10px 20px;
}
.family_p section.voucher .details li.cell_1 { 
    float: left;
    width: calc(100% - 390px);
    font-size: 16px;
    line-height: 35px;
}
.family_p section.voucher .details li.cell_2 { 
    float:left;
    width:130px;
    text-align: right;
}
.family_p section.voucher .details li.cell_2 span { 
    line-height:35px;
    font-size: 18px;
    font-weight: bold;
    color: #d71826;
    letter-spacing: -1px;
}
.family_p section.voucher .details li.cell_3 { 
    float:left;
    width:260px;
    text-align:right;
    font-size:13px;
    padding:5px 20px;
    line-height:27px;
}
.family_p section.voucher .details li.cell_3 span { 
    color:#000;
    font-size:13px;
    font-weight:bold;
    letter-spacing: 0.2px;
    display:inline-block;
    width:100px;
}
.family_p section.voucher .item .details li .btn {
    width: 100%;
    background: #5dbcfe;
    font-size: 13px;
    color: #fff;
    line-height:35px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.family_p section.voucher .item .details li .btn:hover {
    background:#215391;
}
.family_p section.voucher .item .details li .btn.btn_off {
    opacity:0.4;
    cursor: auto;
}
.family_p section.voucher .item .details li .btn.btn_off:hover {
    background: #5dbcfe;
}
.family_p section.footer .total_point ul li.tb_middle:first-child {
    text-align:left;
}
.family_p section.footer .submet_btn .bg_blue {
    background:#5dbcfe;    
}

/* 20190617 클립포인트결제-"포인트전부사용" 버튼 추가 */
section.contents .container .have_point.add_btn {
    overflow:hidden
}
section.contents .container .have_point.add_btn ul {
    float:left; 
    width:calc(100% - 125px);
}
section.contents .container .have_point.add_btn .point_use {
    float:right; 
    width:120px;
}
section.contents .container .have_point.add_btn .point_use .btn.maxBtn { 
    width: 100%; 
    border: 1px solid #000; 
    font-size: 13px; 
    padding: 7px 10px; 
    color: #474747; 
}
section.contents .container .have_point.add_btn .point_use .btn.maxBtn:hover { 
    background:#474747; 
    color:#fff; 
}